@{
    ViewBag.Title = "Information";
}
<main aria-labelledby="title">
    <h3 align="left">Курсова робота з баз даних </h3>
    <h3 align="left">Тема:"Педагогічне навантаження кафедри" </h3>
    <h3 align="left">Виконав студент: Поліщук Віктор </h3>
    <h3 align="left">Групи ІС-11 </h3>
</main>
