@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="text-center">
        
        <h3 align="center" style="font-weight:bold">Тема "Педагогічне навантаження кафедри" </h3>
        <h4 style="font-weight:lighter" align="left">
            Кафедра забезпечує викладання певних дисциплін. Для кожної дисципліни
            передбачені певні години педагогічного навантаження по видах: лекції, практичні заняття,
            лабораторні роботи, практика (це також вид дисципліни), дипломне проектування,
            екзамен. Має значення також посада викладача: певні види навантаження (як-от практичні
            та лабораторні заняття) може виконувати асистент, інші – лише старший викладач, доцент
            або професор. <br>
            На кафедрі існують викладачі, як штатні, так і сумісники. Кожний викладач
            викладає кілька дисциплін (в середньому біля чотирьох). Згідно закону річне
            педнавантаження на викладача має бути не більше 600 годин. Години, яких не вистачає,
            можуть бути додані викладачу за рахунок дипломного проектування (20 годин на
            студента).<br>
            Завідувач кафедрою планує педагогічне навантаження викладачів. При цьому
            контролюються річне навантаження викладачів та інші обмеження.
        </h4>
    </div>
</main>